@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    FERRETRUCK<br />
    Baquedano #123<br />
    <abbr title="Phone">P:</abbr>
    +59688150344
</address>



<address>
    <strong>Support:</strong> <a href="Ferretruck@gmail.com">Ferretruck@gmail.comm</a><br />
    <strong>Marketing:</strong> <a href="Ferretruck.Marketing@gmail.com">Ferretruck.Marketing@gmail.com</a>
</address>
