@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Nuestros Productos</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <a href="#"><h4>Set Herramientas 89 Piezas Maleta</h4></a>
        <h6>$59.900C/U</h6>
        <p>Estuche Plastico resistente color negro.</p>
        <p><a class="btn btn-default" href=" ">Learn more &raquo;</a></p>
    </div>
</div>
<div class="col-md-4">
    <a href="#"><h4>Taladro percutor inalambrico 10 mm 12V</h4></a>
    <h6>$59.990C/U</h6>
    <p>Taladro Percutor inalambrico 10 mm 12V + 1 bateria + 29 accesorios de Bauker</p>
    <p><a class="btn btn-default" href=" ">Learn more &raquo;</a></p>
</div>
<div class="col-md-4">
    <h2>PYMES</h2>
    <p>
        Informacion de contacto: Pedro Cotapo
    </p>
    <p> Numero: +5692220169</p>
    <p> Correo: Pedro.cotapo@gmail.com </p>
    <p><a class="btn btn-default" href=" ">Learn more &raquo;</a></p>
</div>
